* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* --------------font family-------------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

/*----------------------- header part------------------------ */
.background {
    background-color: #161616;
    height: 500px;
    width: 1000px;
    border-radius: 20px;
    padding-top: 30px;
    margin-top: 40px;
    margin-left: 140px;
}

.live-match {
    display: flex;
    align-items: center;
    padding: 20px 20px;
}

.caption {
    color: white;
    padding-left: 40px;

}

.caption h1 {
    font-size: 60px;
}

.image {
    padding-top: 109px;
    padding-left: 20px;

}

.watch-live {
    text-decoration: none;
    background-color: #DD0000;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
}

/*------------------------------ header end---------------------------------- */
/* -----------------------------main part start----------------------------- */
.container {
    display: flex;
    flex-grow: 1;
    margin-top: 40px;
    margin-left: 60px;
    gap: 40px;
}

.select-option {

    background-color: #161616;
    width: 300px;
    height: 200px;
    align-items: center;
    text-align: center;
    border-radius: 10px;
}

.upcoming-match {
    background-color: #DD0000;
    text-decoration: none;
    color: black;
    font-size: bold;
    margin-top: 40px;
    padding: 10px 20px;
    border-radius: 5px;

}

.all-group {
    text-decoration: none;
    padding: 10px 45px;
    color: black;
    background-color: white;
    border-radius: 5px;

}

.blog {
    text-decoration: none;
    padding: 10px 65px;
    color: black;
    background-color: white;
    border-radius: 5px;
}

.match-shedule {
    display: flex;


}

.match-time {
    box-sizing: border-box;
    margin-left: 40px;
    align-items: center;
    text-align: center;
    margin-top: 50px;

}

.fa-solid {
    margin-top: 80px;


}

/* ----------------------footer start----------------------- */
footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 100px 0;
    width: 100%;
    margin-top: 40px;
}

hr {
    margin-right: 20%;
    margin-left: 20%;
    color: rgb(185, 184, 184);
}

.contract-manu a {
    text-decoration: none;
    color: white;
    margin-right: 15px;
    margin-top: 40%;
}

.icons {
    text-decoration: none;
    padding: 40px;

}

.fa-brands {
    padding-right: 40px;
    color: white;
    font-weight: 1500;
}

/* -------------------footer end------------------- */
@media only screen and (max-width: 688px) {
    .background {
        grid-template-columns: repeat(1, 1fr);
    }

    .container {
        grid-template-columns: repeat(1, 1fr);
    }

    .info {
        grid-template-columns: repeat(1, 1fr);
    }

}

@media only screen and (min-width: 689px) and (max-width: 992px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
    }
}